<div class="footer">
    <footer class="text-center text-white" style="background-color: #9ca09b;">
        <div class="text-center text-dark p-3" style="background-color: rgba(85, 88, 85, 0.271);">
            <div class="container pt-4">
                <!-- Section: Social media -->
                
                  <a class="f" href="#"><img src="assets\youtube.png" alt="avatar.logo" style="width: 20px;height : 20px" class="rounded-pill"></a>
                  <a class="f" href="#"><img src="assets\instagram.svg" alt="avatar.logo" style="width: 20px;height : 20px" class="rounded-pill"></a>
                  <a class="f" href="#"><img src="assets\whatsapp.svg" alt="avatar.logo" style="width: 20px;height : 20px" class="rounded-pill"></a>
                  <a class="f" href="#"><img src="assets\linkedin.png" alt="avatar.logo" style="width: 20px;height : 20px" class="rounded-pill"></a>
           
                <!-- Section: Social media -->
             
            © 2020 Copyright:
          <a class="text-dark" href="">prashantdubey2686@gmail.com</a>
        </div>
        </div>
        <!-- Copyright -->
      </footer>
    </div>
