<div class="container">
  <div class="k-overlay" *ngIf = "isLoader"></div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          Register
        </div>
        <div class="card-body">
          <form [formGroup]="register" (ngSubmit)="onsubmit()">
            <div class="row">
              <div class="col-md-4">
                <label for="name">Name:</label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Enter name" formControlName="userName" [ngClass]="{error:getControl('userName')?.errors && getControl('userName')?.touched}">
                <div *ngIf="getControl('userName')?.errors && getControl('userName')?.touched">
                    <small class="text-danger" *ngIf="getControl('userName')?.errors?.['required']">Name required</small>
                    <small class="text-danger" *ngIf="getControl('userName')?.errors?.['touched']">Name required</small>
                    <small class="text-danger" *ngIf="getControl('userName')?.errors?.['maxlength']">Max length 20 letters</small>
                </div>
              </div>
            </div>
           
            <div class="row">
              <div class="col-md-4">
                <label for="name">Email:</label>
              </div>
              <div class="col-md-8">
                <input type="email" class="form-control" placeholder="Enter email" formControlName="email" [ngClass]="{error:getControl('email')?.errors && getControl('email')?.touched}">
                    <div *ngIf="getControl('email')?.errors && getControl('email')?.touched">
                        <small class="text-danger" *ngIf="getControl('email')?.errors?.['required']">Email is required</small>
                        <small class="text-danger" *ngIf="getControl('email')?.errors?.['touched']">Email is required</small>
                        <small class="text-danger" *ngIf="getControl('email')?.errors?.['pattern']">Email is not correct</small>
                    </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label for="name">Password:</label>
              </div>
              <div class="col-md-8">
                <input type="password" class="form-control" placeholder="Enter password" formControlName="newPassword" [ngClass]="{error:getControl('newPassword')?.errors && getControl('newPassword')?.touched}">
                <div *ngIf="getControl('newPassword')?.errors && getControl('newPassword')?.touched">
                    <small class="text-danger" *ngIf="getControl('newPassword')?.errors?.['required']">Password required</small>
                    <small class="text-danger" *ngIf="getControl('newPassword')?.errors?.['touched']">Password required</small>
                    <small class="text-danger" *ngIf="getControl('newPassword')?.errors?.['maxlength']">Password 20 digits</small>
                    <small class="text-danger" *ngIf="getControl('newPassword')?.errors?.['minlength']">Password  8 digits</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label for="name">Confirm-Password:</label>
              </div>
              <div class="col-md-8">
                <input type="password" class="form-control" placeholder=" confirm password" formControlName="confirmPassword" [ngClass]="{error:getControl('confirmPassword')?.errors && getControl('confirmPassword')?.touched}">
              </div>
            </div>
            <div class="row">
              <input type="submit" class="btn btn-primary" value="submit" id="bt">
            </div>
            <div *ngIf="isLoader" class="spinner-border text-success" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div></div>

