.container{
    margin-top: 4px;
    margin-bottom: 90px;
}


.card-header{
    background-color: #c8eecb;
    text-align: center;
    color: grey;
    font-size: 25px;
    font-weight: 500;
}
.card-body{
    background-color: #eef4ee;
    text-align: center;
    text-decoration: none;
}
.col-md-8{
    padding: 3px;
}
.btn-primary{
    margin-top: 5px;
}
.error{
    border: 2px solid red;
}