
<div class="container-fluid">
    <div class="row"><div class="col-md-8">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="admin">
                    <img src="assets\logo.webp" alt="Avatar Logo" style="width:40px; height: 40px;" class="rounded-pill">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="job">Job</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="result">Result</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="admitcard">Admit card</a>
            </li>
        </ul>
    </div>
        <div class="col-md-4">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="#" ><img src ="assets\signin.png" alt="avtar-logo" style="width: 40px;height: 40px" class="rounded-pill"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="signin">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="register">Register</a>
                </li>
            </ul>
        </div>
    </div>
</div>



