<div class="container">
    <div class="card">
        <div class="card-header">
           Job 
           <button class="btn btn-primary" (click)="addjob('addjob')">Add job</button>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Advt.No</th>
                        <th>Discription</th>
                        <th>Date</th>
                        <th>Detail</th>
                    </tr>
                </thead>
                <tr *ngFor="let a of users;  index as i">
                    <td>{{a.advertise}}</td>
                    <td><p>{{a.discription}}</p></td>
                    <td>{{a.advertisementdate}}</td>
                    <td><button type="button" class="btn btn-primary">View</button></td>
                    <td><a class="btn btn-danger" [routerLink]="['addjob', i]">Edit</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

