<div class="container">
    <div *ngIf="isLoader" class="k-overlay"></div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                 <div class="card-header"><h2>Sign In</h2></div>
                     <div class="card-body">
                        <form #signin ="ngForm" (ngSubmit)="userlogin(signin)">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="username">User name:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" ngModel placeholder="Enter user name" id="username" name="username" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="password">Password:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="password"ngModel class="form-control" placeholder="password" id="password" name="password" >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="checkbox" class="form-check-input" name="remember" id="remember">
                                <label for="remember">Remember me</label>
                            </div>
                            <div class="col-md-8">
                                <button class="btn btn-primary">Sign In</button>
                            </div>
                        </div>
                        <div *ngIf="isLoader" class="spinner-border text-success" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

