.container{
    margin-top: 4px;
    margin-bottom: 90px;
}


.card-header{
    background-color: #c8eecb;
    color: grey;
}
.card-body{
    background-color: #eef4ee;
    text-align: center;
    text-decoration: none;
}
.col-md-8{
    padding: 3px;
}
.k-overlay {
    background-color: #000000;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
}